*.pyc
local_settings.py
*.db
*.pid
core/static/uploads/*
core/static/imports/*
core/static/thumbs/*
celerybeat-schedule
.elasticbeanstalk/
*.cache/
.DS_Store
.docker
*.icloud
src/
docker/
.vscode/
.env
local/*
*venv
celery.conf